/*////////////////////// Colors ////////////////*/
$bgColor:#2d362f;
$navColor:#eee;
$navColor-hover:lighten($navColor, 100);
$primaryTextColor:#eee;
$skillColor:#eee;
$showcaseside:#e73232;


/* ////////////// Break Points ///////////////*/
//small tablets and large smartphones(landscape view)
$sm:576px;

//small tablets(portrait view)
$md:768px;

//Tablets and small desktops
$lg:992px;

//Large tablets and desktops
$xl:1200px;

//greaer than any size
$xxl:40000px;